*, *::before, *::after {
    box-sizing: border-box;
    margin: 0;
}

:root {
    --primary-color: #14213d;
    --secondary-color: #fca311;
    --accent-color: #e5e5e5;
}

a {
    text-decoration: none;
}