:root {
    --auth-border-color: var(--accent-color-85);
    --auth-container-max-width: 64rem; /* 64 * 16 = 1024 px*/
    --nav-link-padding: var(--main-padding) var(--main-padding-lg);
    --error-icon-size: 1.5rem;
}

div.auth-container {
    display: flex;
    flex-direction: column;
    max-width: var(--auth-container-max-width);
    margin: auto;
    background-color: var(--accent-color-95);
    border: var(--main-border-width) solid var(--auth-border-color);

    > header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: var(--main-padding);
        color: var(--secondary-color);
        border-bottom: var(--main-border-width) solid var(--auth-border-color);

        > nav {
            display: flex;
            gap: var(--main-gap);

            > a {
                padding: var(--nav-link-padding);
                color: white;
                border-radius: var(--main-border-radius);

                &.login {
                    background-color: var(--secondary-color);

                    &:hover {
                        background-color: var(--secondary-color-light);
                    }
                }

                &.register {
                    background-color: var(--primary-color);
                }
            }
        }
    }

    > main.auth-content {
        padding: var(--main-padding);

        > h2 {
            margin-bottom: var(--main-gap);
        }

        > form.auth-form {
            display: flex;
            flex-direction: column;
            gap: var(--main-gap);

            > div.auth-input-container {
                display: flex;
                flex-direction: column;
                gap: var(--main-gap-sm);

                > label {
                    display: flex;
                    flex-direction: column;
                }

                > input {
                    font-size: var(--main-font-size);
                    padding: var(--main-padding);
                }
            }

            > div.auth-msg-container {
                display: flex;
                align-items: center;
                padding: var(--main-padding);
                border-radius: var(--main-border-radius);
                gap: var(--main-gap);

                &.success {
                    border: var(--main-border-width) solid var(--primary-color);
                    color: var(--primary-color);
                }

                &.error {
                    border: var(--main-border-width) solid var(--main-red);
                    color: var(--main-red);
                }

                > svg {
                    width: var(--error-icon-size);
                    height: var(--error-icon-size);
                }
            }

            > button[type="submit"] {
                border: none;
                color: white;
                padding: var(--main-padding);
                border-radius: var(--main-border-radius);
                font-size: var(--main-font-size);

                &.form-submit-login {
                    background-color: var(--secondary-color);

                    &:hover {
                        background-color: var(--secondary-color-light);
                    }
                }

                &.form-submit-register {
                    background-color: var(--primary-color);

                    &:hover {
                        background-color: var(--primary-color-light);
                    }
                }

                &:hover {
                    cursor: pointer;
                }
            }
        }
    }
}
