:root {
    --main-padding: 0.5rem;
    --main-gap: 0.5rem;

    --learning-section-gap: 1rem;
    --learning-section-category-padding: 1rem 2rem;
    --learning-section-category-header-margin-bottom: 1rem;
    --learning-section-category-link-border-size: 1px;
    --learning-section-category-link-border-color: var(--secondary-color);
    --learning-section-category-link-padding: 0.5rem;
}

.dashboard-container {
    display: flex;

    > main {
        display: flex;
        flex-direction: column;
        gap: var(--main-gap);
        padding: var(--main-padding);
    }
}

div.learning-section-container {
    display: flex;
    flex-wrap: wrap;
    gap: var(--learning-section-gap);

    > section.learning-section-category {
        display: flex;
        flex-direction: column;
        padding: var(--learning-section-category-padding);
        background-color: var(--primary-color);
        color: var(--secondary-color);

        > h3 {
            margin-bottom: var(--learning-section-category-header-margin-bottom);
        }

        > a {
            border: var(--learning-section-category-link-border-size) solid
                var(--learning-section-category-link-border-color);
            color: var(--secondary-color);
            padding: var(--learning-section-category-link-padding);
        }
    }
}
