:root {
    --header-padding: var(--main-padding) var(--main-padding) 0 var(--main-padding);
}

main.learning {
    > div.learning-header {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: var(--header-padding);
        color: var(--secondary-color);

        > div.learning-header-text {
            > h1 {
                margin-bottom: var(--main-gap-sm);
            }

            > p {
                font-size: var(--main-font-size-lg);
            }
        }

        > div.class-selector {
            padding: var(--main-padding);
        }
    }

    > div.learning-exercises {
        display: flex;
        flex-direction: column;
        padding-block: var(--main-padding);
        gap: var(--main-gap-lg);

        > article {
            display: flex;
            flex-direction: column;
            gap: var(--main-gap-lg);
            margin-inline: var(--main-padding);
            padding: var(--main-padding-lg);
            border-radius: var(--main-border-radius);
            box-shadow: var(--card-box-shadow);

            > div.category-description {
                display: flex;
                flex-direction: column;
                gap: var(--main-gap-sm);

                > h3 {
                    font-variant: small-caps;
                    color: var(--secondary-color);
                    letter-spacing: var(--main-letter-spacing);
                }

                > p {
                    font-size: var(--main-font-size-sm);
                    color: var(--accent-color-35);
                }
            }

            > div.category-exercises {
                display: flex;
                flex-wrap: wrap;
                gap: var(--main-gap);

                > div.exercise {
                    display: flex;
                    flex-direction: column;
                    gap: var(--main-gap-sm);
                    color: var(--secondary-color);
                    width: 16rem;
                    padding: var(--main-padding-lg);
                    background-color: var(--accent-color-85);
                    border-radius: var(--main-border-radius);

                    > p {
                        font-size: var(--main-font-size-sm);
                    }

                    &:hover {
                        cursor: pointer;
                        background-color: var(--accent-color-75);
                    }
                }
            }
        }
    }
}
